{% extends "base.html" %}

{% block content %}
        <div class="container">
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1" data-adaptive-background='1' data-ab-css-background='1' data-ab-parent='body'>				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>/\lan</h3>
										<p>Your Fatty</p>
									</div>	
								</div>
							</div>
						</div>
					</li>
					<li>
						<!--
						<div class="ch-item ch-img-2" data-adaptive-background='1' data-ab-css-background='1' data-ab-parent='li'>
						-->
						<div class="ch-item ch-img-2" data-adaptive-background='1' data-ab-css-background='1'>
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-2"></div>
									<div class="ch-info-back">
										<h3>Kisses</h3>
										<p>Many Many Kisses</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<!--
						<div class="ch-item ch-img-3" data-adaptive-background='1' data-ab-css-background='1' data-ab-parent='li'>
						-->
						<div class="ch-item ch-img-3" data-adaptive-background='1' data-ab-css-background='1'>
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3"></div>
									<div class="ch-info-back">
										<h3>&#120529;</h3>
										<p>My Lovely Pi</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				
			</section>
        </div>
        <script type="text/javascript">
			$(document).ready(function(){
			  	$.adaptiveBackground.run();
			  	$('.ch-item').on('ab-color-found', function(e,payload){
			  	  console.log('tpl')
			  	  console.log(e);
			  	  console.log(payload);
				  console.log(payload.color);   // The dominant color in the image.
				  console.log(payload.palette); // The color palette found in the image.
				});
			});
        </script>
{% endblock %}