<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <link rel="shortcut icon" href="../favicon.ico"> 
      <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}" ></script> 
      <script type="text/javascript" src="{{ url_for('static',filename='js/slit/modernizr.custom.js') }}" ></script> 
      <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.adaptive-backgrounds.js') }}"></script>   

      <!--slitslider-->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/slit/demo.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/slit/style.css') }}"  />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/slit/custom.css') }}" />

	  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900&text=ABCDEFGHIJKLMNOPQRSTUVWXYZ' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/bower_components/BigVideo.js/css/bigvideo.css') }}" />
    </head>

    <body>

        <div class="container demo-1">


            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
						<div class="sl-slide-inner">
							<div class="deco ch-img-1"></div>
							<h2>Tu G/\lan</h2>
							<blockquote><p>You are the one I like.</p><cite>@alangalan</cite></blockquote>
						</div>
					</div>
					
					<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
						<div class="sl-slide-inner">
							<div class="deco ch-img-2"></div>
						</div>
					</div>
					
					<div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="deco ch-img-3"></div>
							<h2>My &#120529;</h2>
							<blockquote><p>I love the way you enourage me to create.</p><cite>@alangalan</cite></blockquote>
						</div>
					</div>
					
					<div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="deco" data-icon="I"></div>
							<h2>Donna nobis pacem</h2>
							<blockquote><p>The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p><cite>Michael Klaper M.D.</cite></blockquote>
						</div>
					</div>
					
					<div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="deco" data-icon="t"></div>
							<h2>Acta Non Verba</h2>
							<blockquote><p>I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.</p><cite>Margi Clarke</cite></blockquote>
						</div>
					</div>
				</div><!-- /sl-slider -->
				
				<nav id="nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav>

				<nav id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->

        </div>
		<script type="text/javascript" src="{{ url_for('static',filename='js/slit/jquery.ba-cond.min.js') }}" ></script> 
		<script type="text/javascript" src="{{ url_for('static',filename='js/slit/jquery.slitslider.js') }}" ></script> 
		<script type="text/javascript">	
			$(function() {
			
				var Page = (function() {

					var $navArrows = $( '#nav-arrows' ),
						$nav = $( '#nav-dots > span' ),
						slitslider = $( '#slider' ).slitslider( {
							onBeforeChange : function( slide, pos ) {

								$nav.removeClass( 'nav-dot-current' );
								$nav.eq( pos ).addClass( 'nav-dot-current' );

							}
						} ),

						init = function() {

							initEvents();
							
						},
						initEvents = function() {

							// add navigation events
							$navArrows.children( ':last' ).on( 'click', function() {

								slitslider.next();
								return false;

							} );

							$navArrows.children( ':first' ).on( 'click', function() {
								
								slitslider.previous();
								return false;

							} );

							$nav.each( function( i ) {
							
								$( this ).on( 'click', function( event ) {
									
									var $dot = $( this );
									
									if( !slitslider.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );
									
									}
									
									slitslider.jump( i + 1 );
									return false;
								
								} );
								
							} );

						};

						return { init : init };

				})();

				Page.init();

				/**
				 * Notes: 
				 * 
				 * example how to add items:
				 */

				/*
				
				var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
				
				// call the plugin's add method
				ss.add($items);

				*/
			
			});
		</script>

		<script type="text/javascript" src="{{ url_for('static',filename='js/bower_components/jquery-ui/ui/jquery-ui.js') }}" ></script> 
		<script type="text/javascript" src="{{ url_for('static',filename='js/bower_components/jquery-ui/ui/minified/jquery-ui.min.js') }}" ></script> 
		<script src="//vjs.zencdn.net/4.3/video.js"></script>

		<!-- BigVideo -->
		<script type="text/javascript" src="{{ url_for('static',filename='js/bower_components/BigVideo.js/lib/bigvideo.js') }}" ></script> 
		<script type="text/javascript" src="{{ url_for('static',filename='js/bower_components/eventEmitter/eventEmitter.min.js') }}" ></script> 
		<script type="text/javascript" src="{{ url_for('static',filename='js/bower_components/eventie/eventie.js') }}" ></script> 
		<script type="text/javascript" src="{{ url_for('static',filename='js/bower_components/imagesloaded/imagesloaded.js') }}" ></script> 

		<!-- Demo -->
		<script>
		    $(function() {
		        var BV = new $.BigVideo();
				BV.init();
				BV.show('../static/images/phoetic.jpg');
		    });
		</script>


    </body>
</html>
